<%- include('../partials/header.ejs') -%>
<%- include('../partials/navbar.ejs') -%>
<h1>This is show singl page</h1>

    <div class="card col-md-6 offset-md-3 mb-3 text-center ">

        <div class="card-body">
            <h5 class="card-title card-header "><%=event.title%></h5>
            <hr>
            <p class="card-text "><%=event.discription%></p>
            <p class="card-text"><%=event.location%></p>
            <p><span class="badge badge-secondary"> <%= event.date.toDateString()%></span></p>


           
        
        </div>
    </div>
<%- include('../partials/footer.ejs') -%>